<!-- header part start here -->
<section class="d-flex flex-column h-100">
    <header class="d-flex justify-content-between p-3 flex-shrink-0">
        <section class="d-flex align-items-center">
            <div class="dark-text font-xl font-semibold">
                Change Password
            </div>
        </section>
        <section class="d-flex align-items-center">
            <trigger-tooltip [pageTitle]="pageTitle"></trigger-tooltip>
        </section>
    </header>
    <!-- header part end here -->
    <section class="h-100 position-relative flex-grow-1 overflow-hidden">
        <!-- main conrainer start here -->
        <section class="d-flex flex-column overflow-auto px-3 pb-3 h-100">
            <section class="d-flex justify-content-center align-items-center">
                <section class="rounded shadow-sm white-bg md-container text-center d-flex flex-column justify-content-center">
                    <div class="dark-text font-semibold mb-3">To change your password, please fill in the fields below:
                    </div>
                    <form action="#" method="post" class="form" role="form" novalidate [formGroup]="changePasswordForm">
                        <div class="d-flex justify-content-center mb-3">
                            <input type="password" class="form-control rounded" formControlName="currentPassword" id="currentPassword" placeholder="Current password" name="currentPassword" minlength="8" maxlength="15" [ngClass]="{'border-danger': (changePasswordForm.get('currentPassword').touched || changePasswordForm.get('currentPassword').dirty) && !changePasswordForm.get('currentPassword').valid }"
                                (keypress)="avoidBlankSpace($event)" required>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <input type="password" class="form-control rounded" formControlName="newPassword" id="newPassword" placeholder="New password" name="newPassword" minlength="10" maxlength="15" [ngClass]="{'border-danger': (changePasswordForm.get('newPassword').touched || changePasswordForm.get('newPassword').dirty) && !changePasswordForm.get('newPassword').valid ,'border-success' : ((changePasswordForm.get('confirmNewPassword').valid) && (changePasswordForm.value.confirmNewPassword  === changePasswordForm.value.newPassword))}"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).{10,15}$" (keypress)="avoidBlankSpace($event)" required>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <input type="password" class="form-control rounded" formControlName="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" name="confirmNewPassword" minlength="10" maxlength="15" [ngClass]="{'border-danger': (changePasswordForm.get('confirmNewPassword').touched || changePasswordForm.get('confirmNewPassword').dirty) && !changePasswordForm.get('confirmNewPassword').valid,'border-success' : (changePasswordForm.get('confirmNewPassword').valid && (changePasswordForm.value.confirmNewPassword  === changePasswordForm.value.newPassword))}"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).{10,15}$" (keypress)="avoidBlankSpace($event)" required>
                        </div>
                        <button type="button" (click)="changePassword()" title="Submit" class="btn btn-secondary text-uppercase rounded-pill">Submit</button>
                    </form>
                </section>
            </section>
        </section>
        <!-- main conrainer end here -->
    </section>
</section>