
@import "~assets/scss/base/variables";
@import "~assets/scss/base/colors";
.form-control {
    max-width: 330px;
    padding: 0 10px 0 10px;
    &.border-success {
        &:focus {
            border-color: $success;
            box-shadow: 0 0 0 0.2rem $success-box-shadow;
        }
    }
}
