<!-- Accordion table container start here -->
<section class="flex-grow-1 rounded shadow-sm overflow-auto" id="mainDIV" (scroll)="scrollService.onWindowScroll()">
  <mat-accordion displayMode="flat" multi="false" class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row" matSortDisableClear>

      <div class="mat-header-cell text-center text-uppercase">Status
        <div class="cursor-pointer" (click)="sortData('status','asc')" [ngClass]="isSortingDirecion('status')">
        </div>
      </div>

      <div class="mat-header-cell text-uppercase d-flex align-items-center">
        Request Type
        <div class="cursor-pointer" (click)="sortData('action','asc')" [ngClass]="isSortingDirecion('action')"></div>
      </div>
      <div class="mat-header-cell text-center text-uppercase">Action
      </div>
      <div class="mat-header-cell"></div>
    </section>
    <mat-expansion-panel [disabled]="isExpand" hideToggle="true"
      *ngFor="let item of displayedRows$ | async; let index = index" #example>
      <mat-expansion-panel-header class="mat-row" [ngClass]="{'highlight': index%2 == 1}">
        <div class="mat-cell text-ellipsis d-flex justify-content-center align-items-center"
          (click)="expansionPanel(true)" title="{{item.status}}">
          <div class="p-1 rounded text-white text-center"
            [ngClass]="(item.status=='Completed')?'bg-success-light':'bg-danger-light'">{{item.status}}</div>
        </div>
        <div class="mat-cell text-ellipsis d-flex align-items-center" (click)="expansionPanel(true)"
          title="{{item.action}}">
          {{item.action}}
        </div>
        <button type="button"
          class="mat-cell text-ellipsis btn icon icon-trigger-an-employee d-flex align-items-center justify-content-center"
          title="Evaluation" *ngIf="item.actionId === 1" (click)="clickOnAction(item)"
          [disabled]="isDisabledIcon(item)"></button>
        <button type="button"
          class="mat-cell text-ellipsis btn icon icon-spark d-flex align-items-center justify-content-center"
          title="Spark" *ngIf="item.actionId === 2" (click)="clickOnAction(item)"
          [disabled]="isDisabledIcon(item)"></button>
        <div class="mat-cell d-flex justify-content-center align-items-center">
          <div *ngIf="!example.expanded" (click)="expansionPanel(false)">
            <span class="icon icon-pluse cursor-pointer text-primary"></span>
          </div>
          <div *ngIf="example.expanded" (click)="expansionPanel(false)">
            <span class="icon icon-minus cursor-pointer text-primary"></span>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap w-100">
        <section class="col-sm-12 col-md-12">
          <div class="d-flex mb-2">
            <div class="font-semibold text-primary font-sm col-md-3 col-sm-3 p-0">ActionId: </div>
            <div class="ml-2 font-sm text-ellipsis col-md-9 col-sm-9 p-0">{{item.actionId}}</div>
          </div>

          <div class="d-flex mb-2">
            <div class="font-semibold text-primary font-sm col-md-3 col-sm-3 p-0">Request By: </div>
            <div class="ml-2 font-sm text-ellipsis col-md-9 col-sm-9 p-0">{{item.requesterName}}</div>
          </div>
          <div class="d-flex mb-2">
            <div class="font-semibold text-primary font-sm col-md-3 col-sm-3 p-0">Created Date: </div>
            <div class="ml-2 font-sm text-ellipsis col-md-9 col-sm-9 p-0">{{item.createdDate | date: 'MM/dd/yyyy h:mm:ss aaa'}}</div>
          </div>
          <div class="d-flex mb-2">
            <div class="font-semibold text-primary font-sm col-md-3 col-sm-3 p-0">Purpose of Request: </div>
            <div class="ml-2 col-md-9 col-sm-9 p-0 font-sm"><read-more [text]='item.remarks' [maxLength]="150"></read-more></div>
          </div>
        </section>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
<!-- Accordion table container end here -->
<!-- pagination footer section start here -->
<footer class="d-flex justify-content-end align-items-center w-100 py-2">
  <div class="text-right pagination-container" (click)="onClickPaginationPanel()">
    <mat-paginator panelClass="textClass1" #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[50,100,150]" (page)="pageChanged($event)" showFirstLastButtons></mat-paginator>
  </div>
</footer>
<!-- pagination footer section end here -->