//for table design
.mat-table,
.mat-expansion-panel-header {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
}

.mat-table {
    background-color: var(--bg-list-even);
}

.mat-expansion-panel-content {
    font: 500 14px/20px $font-family-base;
}

.mat-expansion-panel-body {
    background-color: var(--bg-list-odd);
    padding: 10px 25px !important;
}

.mat-custom-accordion {
    & .no-records-container {
        height: calc(100% - 265px) !important;
    }
}

.custom-mat-accordion {
    & .mat-expansion-indicator {
        &::after {
            border-style: none;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 0;
            transform: rotate(0deg);
            vertical-align: middle;
        }
    }
}

.mat-accordion {
    & .mat-expansion-panel-header {
        background-color: $secondary-3;
    }
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $transparent;
}

.mat-dialog-title {
    font: 500 20px/32px $font-family-base;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: $primary;
}

.mat-checkbox-disabled {
    cursor: no-drop !important;
    opacity: 0.5;
}

.mat-checkbox-frame {
    border-color: var(--checkbox-color);
}

#accordion {
    & .mat-checkbox-frame {
        border-color: var(--primary-text);
    }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $primary;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
    font-family: $font-family-base;
    font-size: 12px
}

.mat-form-field-ripple {
    background-color: $transparent;
}

.mat-form-field-disabled .mat-form-field-underline {
    background-image: none;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $transparent;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
}

//for permission checkbox
.mat-checkbox-inner-container {
    @include media-breakpoint-down('sm-small') {
        width: 17px !important;
        height: 17px !important;
    }
}

.mat-header-row {
    background-color: var(--bg-list-header);
    border-bottom-color: $transparent;
    border-bottom-width: 0;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 5px;
}

.mat-option.mat-active {
    background: $transparent;
}

.mat-header-cell {
    color: $primary;
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    font-size: 14px;
    padding: 0 3px;
    height: 100%;

    @include media-breakpoint-down('xl') {
        font-size: 12px;
    }

    & .text-ellipsis {
        white-space: nowrap;
        width: 80px;
        overflow: hidden !important;
        text-overflow: ellipsis;

        @include media-breakpoint-down('sm-small') {
            width: 50px;
        }
    }
}

.mat-row {
    border-bottom-color: $transparent;
    padding: 5px 5px;

}

.mat-cell {
    font-size: 14px;
    color: var(--primary-text);
    overflow: visible !important;
    word-wrap: break-word;
    padding: 8px 3px;

    @include media-breakpoint-down('xl') {
        font-size: 12px;
    }

    &.text-ellipsis {
        white-space: nowrap;
        width: 80px;
        overflow: hidden !important;
        text-overflow: ellipsis;

        @include media-breakpoint-down('sm-small') {
            width: 50px;
        }
    }

    &.icon {
        font-size: 16px;
    }
}

.mat-form-field-underline {
    background-color: $transparent;
    bottom: 0;
}

.mat-select,
.mat-option,
.mat-form-field,
.mat-list-item {
    font-family: $font-family-base;
}

//for even odd table row background color
.highlight {
    background: var(--bg-list-odd);
}

.mat-expansion-panel {
    background: $transparent;
    color: inherit;
    overflow: visible !important;

    &:nth-child(even) {
        background-color: var(--bg-list-even);
    }

    &:nth-child(odd) {
        background-color: var(--bg-list-odd);
    }
}

.mat-elevation-z8 {
    box-shadow: none;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-select-trigger {
    align-items: center;
    vertical-align: middle;
}

//for pagination
.pagination-container {
    .mat-select-trigger {
        @include size(55px, auto);
        min-width: 55px;
        max-width: 55px;
    }

    .mat-select-value {
        vertical-align: middle;
        color: var(--text-pagination);
    }
}

.mat-form-field-infix {
    width: 56px;
}

.mat-paginator-page-size-label {
    margin: 5px 4px 0 4px !important;
    font-weight: $font-weight-base;
}

.mat-elevation-z2 {
    box-shadow: none;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: $transparent;
    -webkit-transition: 2s !important;
    transition: 2s !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: $transparent;
}

.mat-expansion-panel.mat-expanded {
    -webkit-transition: 2s !important;
    transition: 2s !important;
}

.mat-content {
    overflow: visible !important;
    align-items: center;
}

.mat-header-row,
.mat-row {
    display: flex;
    align-items: center;
    padding: 0 10px !important;
}

.mat-paginator-range-label {
    margin: 5px 5px 0 0 !important;
}

.mat-paginator-page-size {
    align-items: center !important;
}

.cdk-focused.cdk-mouse-focused {
    background: $transparent !important;
}

//for employee dashboard accordion view scss
.mat-expansion-indicator {
    display: none;

    &::after {
        display: none;
    }
}

@include media-breakpoint-between('xs', 'sm') {
    .mat-paginator-page-size {
        display: block !important;
    }

    .mat-paginator-range-actions {
        display: block !important;
        align-items: end !important;
        min-width: 140px;
    }

    .mat-paginator-page-size-label {
        line-height: 19px !important;
        text-align: left !important;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}

.trigger-table-ui-dragable-container {
    height: 225px;

    @include media-breakpoint-down('sm-small') {
        height: 155px;
    }
}

.drag-container {
    & .mat-stroked-button {
        min-width: 50px;
        display: flex;
        justify-content: center;

        &.mat-primary {
            border: 2px solid $primary;
            @include border-radius($border-radius);
            color: var(--primary-text);
            background-color: var(--bg-field);
            font-family: $font-family-base;
            padding: 0 8px;
            height: 40px;

            &:hover {
                background-color: inherit;
            }
        }

        @include media-breakpoint-down('sm-small') {
            min-width: auto;
        }
    }

    & .mat-button-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

// Comment code by mihir for test mat sort column
.list-group-item {
    cursor: default !important;
    border: 0 !important;

    & .mat-icon.material-icons {
        color: inherit;
        cursor: move;
        min-width: 24px;

        &:hover {
            color: $primary;
        }
    }
}

.mat-menu-panel {
    max-height: calc(100vh - 250px) !important;
    overflow: hidden !important;
    min-width: 250px !important;
    max-width: 250px !important;

    @include media-breakpoint-down('sm-small') {
        max-height: calc(100vh - 350px) !important;
    }
}

.cdk-focused.cdk-program-focused {
    background-color: $transparent !important;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
    padding-left: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 0);
}

.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 0);
}

// For change color of mat-option
.mat-option {
    color: inherit !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: $primary;
}

.timepicker-dial__container {
    justify-content: center !important;
    margin-left: 22px !important;
}

.timepicker {
    .timepicker__header {
        background-color: $primary !important;
    }

    .clock-face__number>span.active {
        background-color: $primary !important;
    }

    .timepicker-button {
        color: $primary !important;
    }

    .clock-face {
        background-color: #f0f0f0 !important;
    }

    .timepicker__actions {
        background-color: $white !important;
    }

    .clock-face__clock-hand {
        background-color: $primary !important;
    }
}

.timepickerDark {
    .timepicker__body {
        background-color: #455270 !important;
    }

    .clock-face {
        background-color: #36425d !important;
    }

    .timepicker__actions {
        background-color: #455270 !important;
    }
}

// .clock-face__clock-hand_minute {
//     &::before {
//         border-color: $primary !important;
//         border: 4px solid $primary !important;
//     }
// }
