<section class="white-bg rounded lg-container" *ngIf="isDetailApiCalled">
    <!-- header part start here -->
    <header class="d-flex align-items-center p-3">
        <div class="dark-text font-semibold font-xl">Annual Report for</div>
        <form class="form xs-d-none ml-3" novalidate>
            <div class="d-flex xs-mb-3">
                <div class="sm-select-dropdown">
                    <select class="cursor-pointer shadow-sm white-bg rounded-pill"
                        (change)="annualReportChange($event.target.value)" [(ngModel)]="reportPeriod"
                        name="reportPeriod">
                        <option *ngFor="let year of yearList" [value]=year.reviewYear>{{year.reviewYear}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <div *ngIf="isSelectedDate" class="col-xl-3 col-md-6 col-sm-12 px-2 ml-1">
            <div class="calendar-input">
                <input type="text" class="rounded form-control cursor-pointer" (bsValueChange)="onSelectDate($event)"
                    [minDate]="minDate" [maxDate]="maxDate" onDrop="return false" onPaste="return false" maxlength="10"
                    [bsConfig]="{ containerClass: themeClass, maxDateRange: 25, dateInputFormat: 'MM-DD-YYYY' , rangeInputFormat : 'MM-DD-YYYY', showWeekNumbers: false}"
                    placeholder="MM-DD-YYYY" bsDaterangepicker>
            </div>
        </div>
    </header>
    <!-- header part end here -->
    <section class="overflow-auto modal-body-container">
        <section *ngIf="annualReportDetail.summaryReportingView">
            <section class="rounded brand-border mb-3 mx-3" *ngIf="!!annualReportDetail.scoreSummary">
                <header class="py-2 px-3 field-border-bottom bg-body text-info font-semibold text-uppercase">Overall
                    Yearly Score</header>
                <section class="d-flex field-border-bottom py-2 px-3">
                    <div class="font-md font-semibold table-cell-width">Score Summary:</div>
                    <div class="ml-3">{{annualReportDetail.scoreSummary}}</div>
                </section>
                <section class="d-flex py-2 px-3">
                    <div class="font-md font-semibold table-cell-width">Score Remarks:</div>
                    <div class="ml-3">{{annualReportDetail.employeeRemarks}}</div>
                </section>
            </section>
            <section class="rounded brand-border mb-3 mx-3" *ngIf="!!annualReportDetail.evaluationDetails">
                <header class="py-2 px-3 field-border-bottom bg-body text-info font-semibold text-uppercase">List of
                    Evaluations</header>
                <section
                    class="d-flex align-items-center field-border-bottom py-2 px-3 text-uppercase secondary-dark-text font-semibold">
                    <div class="table-cell-width">date</div>
                    <div class="table-cell-width">Evaluator</div>
                    <div>Evaluate Scores</div>
                </section>
                <section class="table-container flex-grow-1 overflow-auto font-sm">
                    <section class="d-flex align-items-center py-2 px-3 font-sm"
                        *ngFor="let detailScore of annualReportDetail.evaluationDetails;let last = last"
                        [ngClass]="{'field-border-bottom': !last}">
                        <div class="table-cell-width">{{detailScore.evaluationDate}}</div>
                        <div class="table-cell-width">{{detailScore.evaluator}}</div>
                        <div>{{detailScore.scoreSummary}}</div>
                    </section>
                </section>
            </section>
        </section>
        <section class="row mx-2">
            <section class="col-sm-12 px-2 mb-3"
                *ngIf="annualReportDetail.contextualReportingView && !!annualReportDetail.commentDetails"
                [ngClass]="(annualReportDetail.sparkView && !!annualReportDetail.sparkDetails) ? 'col-xl-6' : 'col-xl-12'">
                <section class="rounded brand-border">
                    <div class="d-flex align-items-center py-2 px-3 field-border-bottom">
                        <mat-checkbox [checked]="isCheckAllComment" (change)="allCommentSelection($event)">
                        </mat-checkbox>
                        <header class="ml-2 bg-body text-info font-semibold text-uppercase">
                            Comments
                        </header>
                    </div>
                    <section class="flex-grow-1 overflow-auto box-container">
                        <div class="d-flex p-3"
                            *ngFor="let comment of annualReportDetail.commentDetails;let index = index;let last = last"
                            [ngClass]="{'field-border-bottom': !last}">
                            <div>
                                <mat-checkbox [checked]="comment.checked"
                                    (change)="commentSelectionChange($event,index)">
                                </mat-checkbox>
                            </div>
                            <div class="ml-2">
                                <div class="font-xs secondary-dark-text mb-2">{{comment.commentDate | date:
                                    'MM/dd/yyyy, h:mm:ss aaa'}} | {{comment.scoreSummary }}
                                    <!-- <span *ngIf="comment.isTriggerSent" class="pl-2 icon icon-denote text-primary"></span> -->
                                </div>
                                <div class="dark-text font-xs">
                                    <span class="text-secondary">Comment By - </span> {{comment.commentBy}}
                                </div>
                                <div class="d-flex align-items-start dark-text font-xs"
                                    *ngIf="(comment.performance !== '')">
                                    <div class="comment-icon-wrapper pr-2 ">
                                        <span class="text-primary icon" [ngClass]="{'font-icon-dont-send' : (comment.isPerformanceCommentSend === 0 || comment.isPerformanceCommentSend === 1), 'icon-denote' : comment.isPerformanceCommentSend === 2}"></span>
                                    </div>
                                    <span class="text-secondary">Performance&nbsp;-&nbsp; </span>
                                    <trigger-read-more [text]='comment.performance' [maxLength]="60"></trigger-read-more>
                                </div>
                                <div class="d-flex align-items-start dark-text font-xs"
                                    *ngIf="(comment.attitude !== '')">
                                    <div class="comment-icon-wrapper pr-2 ">
                                        <span class="text-primary icon" [ngClass]="{'font-icon-dont-send' : (comment.isAttitudeCommentSend === 0 || comment.isAttitudeCommentSend === 1), 'icon-denote' : comment.isAttitudeCommentSend === 2}"></span>
                                    </div>
                                    <span class="text-secondary">Attitude&nbsp;-&nbsp; </span> 
                                    <trigger-read-more [text]='comment.attitude' [maxLength]="60"></trigger-read-more>
                                </div>
                                <div class="d-flex align-items-start dark-text font-xs"
                                    *ngIf="(comment.maintenance !== '')">
                                    <div class="comment-icon-wrapper pr-2 ">
                                        <span class="text-primary icon" [ngClass]="{'font-icon-dont-send' : (comment.isMaintenanceCommentSend === 0 || comment.isMaintenanceCommentSend === 1), 'icon-denote' : comment.isMaintenanceCommentSend === 2}"></span>
                                    </div>
                                    <span class="text-secondary">Maintenance&nbsp;-&nbsp; </span> 
                                    <trigger-read-more [text]='comment.maintenance' [maxLength]="60"></trigger-read-more>
                                </div>
                                <div class="d-flex align-items-start dark-text font-xs">
                                    <div class="comment-icon-wrapper pr-2 ">
                                        <span class="text-primary icon" [ngClass]="{'font-icon-dont-send' : (comment.isGeneralRemarkSend === 0 || comment.isGeneralRemarkSend === 1), 'icon-denote' : comment.isGeneralRemarkSend === 2}"></span>
                                    </div>
                                    <span class="text-secondary">General&nbsp;-&nbsp; </span>
                                    <trigger-read-more [text]='comment.generalRemarks' [maxLength]="60"></trigger-read-more>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
            <section class="col-sm-12 px-2 mb-3"
                *ngIf="annualReportDetail.contextualReportingView && annualReportDetail.sparkView && !!annualReportDetail.sparkDetails"
                [ngClass]="!!annualReportDetail.commentDetails ? 'col-xl-6' : 'col-xl-12'">
                <section class="rounded brand-border">
                    <div class="d-flex align-items-center py-2 px-3 field-border-bottom">
                        <mat-checkbox [checked]="isCheckAllSpark" (change)="allSparkSelection($event)">
                        </mat-checkbox>
                        <header class="ml-2 bg-body text-info font-semibold text-uppercase">
                            Sparks
                        </header>
                    </div>
                    <section class="flex-grow-1 overflow-auto box-container">
                        <div class="d-flex p-3"
                            *ngFor="let spark of annualReportDetail.sparkDetails;let i = index;let last = last"
                            [ngClass]="{'field-border-bottom': !last}">
                            <div>
                                <mat-checkbox [checked]="spark.checked" (change)="sparkSelectionChange($event,i)">
                                </mat-checkbox>
                            </div>
                            <div class="ml-2">
                                <div class="font-xs secondary-dark-text mb-2">{{spark.sparkDateForView | date:
                                    'MM/dd/yyyy, h:mm:ss aaa'}} <span *ngIf="spark.isSparkSent"
                                        class="pl-2 icon icon-denote text-primary"></span>
                                </div>
                                <div class="dark-text font-xs mb-2">
                                    <span class="text-secondary">Spark By - </span> {{spark.sparkBy}}
                                </div>
                                <div class="dark-text font-xs mb-2">
                                    <span class="text-secondary">Category - </span> {{spark.category}}
                                </div>
                                <div class="dark-text font-xs mb-2">
                                    <span class="text-secondary">Classification - </span> {{spark.classification}}
                                </div>
                                <div class="dark-text font-xs">{{spark.sparkRemarks}}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
        <section class="px-3">
            <textarea class="form-textarea form-control rounded" placeholder="Leave a comment"
                [(ngModel)]="userRemark"></textarea>
        </section>
        <section class="px-3">
            <div class="my-3">
                <button class="btn btn-primary rounded text-uppercase  px-3 py-2 mb-2 mb-md-0"
                    (click)="openSignatureModel()">Create Signature</button>
                <span class="text-uppercase font-semibold mx-2">or</span>
                <input type="file" [formControl]="signatureControl" class="d-none" id="select-signature"
                    (change)="onSignatureUpload($event)" accept=".png, .jpg, .jpeg">
                <label for="select-signature" class="btn btn-primary rounded text-uppercase  px-3 py-2">Pick
                    Signature</label>
            </div>
            <ng-container #signaturecontainerRef></ng-container>
        </section>
        <section class="brand-border rounded mx-3" *ngIf="base64Signature">
            <header class="py-2 px-3 field-border-bottom bg-body text-info font-semibold text-uppercase">signature
            </header>
            <img class="img-fluid p-2" [src]="base64Signature" alt="signaturePreview">
        </section>
    </section>
    <footer class="text-right p-3">
        <button type="button" title="Cancel" class="btn secondary-light-btn text-uppercase mr-2 rounded-pill btn-sm"
            (click)="cancelSelection()">cancel</button>
        <button type="button" title="Preview" class="btn btn-secondary text-uppercase rounded-pill"
            (click)="openPDFView()">Preview</button>
    </footer>
</section>