.no-records-container {
    height: calc(100% - 145px);
}

.bg-card-header {
    background-color: rgba(0, 0, 0, .03);
}

.icon-pluse,
.icon-minus {
    font-size: 15px;
}

.main-container {
    top: 0;
    bottom: 0;
}