<!-- table container section start here -->
<section class="flex-grow-1 rounded shadow-sm overflow-auto" id="mainDIV" (scroll)="scrollService.onWindowScroll()">
  <ng-container>
    <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
      <!-- <ng-container matColumnDef="departmentId">
        <mat-header-cell *matHeaderCellDef>
          <div class="text-uppercase">ID</div>
          <div class="ml-1">
            <div class="cursor-pointer" (click)="sortData('departmentId','asc')"
              [ngClass]="isSortingDirecion('departmentId')"></div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-ellipsis">
          <span>{{row.departmentId}}</span>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef>
          <div class="text-uppercase">department</div>
          <div class="ml-1">
            <div class="cursor-pointer" (click)="sortData('department','asc')"
              [ngClass]="isSortingDirecion('department')"></div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-ellipsis">
          <span>{{row.department}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="emailConfig">
        <mat-header-cell *matHeaderCellDef>
          <div class="text-uppercase">Email Config</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-ellipsis">
          <span>{{row.config}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <div class="text-uppercase text-center">Action</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <section class="text-center d-flex justify-content-center align-items-center">

            <div class="dropdown list-action-dropdown">
              <button type="button" class="btn bg-transparent dropdown-toggle d-flex align-items-center"
                data-toggle="dropdown">
                <span class="icon icon-click d-flex align-items-center"></span>
              </button>
              <div id="action-dropdown" class="dropdown-menu toggle-dropdown-menu border-0 shadow-sm">
                <a>
                  <button class="icon icon-edit-1 mr-1 btn bg-transparent d-flex align-items-center"
                    (click)="openEditDepartmentModal(row.departmentId, row.department,row.sendTrigger,row.sendSpark)"
                    title="Edit"></button>
                </a>
                <a>
                  <button class="icon icon-bin mr-1 btn bg-transparent"
                    (click)="openDeleteDepartmentModal(row.departmentId)" title="Delete"></button>
                </a>
              </div>
            </div>
          </section>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass]="{'highlight': index%2 == 1}"
        *matRowDef="let row; columns: displayedColumns;let index = index">
      </mat-row>
    </mat-table>
  </ng-container>
</section>
<!-- table container section end here -->
<!-- footer section start here -->
<footer class="d-flex justify-content-end align-items-center w-100 flex-wrap py-2">
  <section class="text-right p-0 col-xl-9 col-sm-12 col-xs-12 pagination-container" (click)="openPaginationDropdown()">
    <mat-paginator fixed [pageSizeOptions]="[50, 100, 150]" (page)="pageChanged($event)" showFirstLastButtons>
    </mat-paginator>
  </section>
</footer>
<!-- footer section end here -->