<!-- Excle upload header section start here -->
<header class="d-flex justify-content-between p-3 flex-shrink-0">
  <section class="d-flex align-items-center">
    <div class="dark-text font-xl font-semibold">
      Excel Upload
    </div>
  </section>
  <section class="d-flex align-items-center">
    <div class="info-tooltip info-tooltip-header" (mouseenter)="setTooltip()">
      <div class="tooltiptext">
        <span class="text-center d-flex justify-content-center align-items-center font-semibold">{{ tooltipHeader }}</span>
        <div class="mt-1">{{ tooltipDescription }}</div>
      </div>
    </div>
  </section>
</header>
<!-- Excle upload header section end here -->