<!-- delete modal start here -->
<section class="p-3">
  <div mat-dialog-content class="text-center">
    <div class="font-semibold font-md dark-text mb-2"> {{ content }} </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary rounded-pill mr-2 btn-sm text-uppercase mb-3" (click)="onClickYes()"
      cdkFocusInitial title="Yes">Yes</button>
    <button type="button" class="btn secondary-light-btn rounded-pill btn-sm text-uppercase mb-3" (click)="onClickNo()"
      [mat-dialog-close] title="No">No</button>
  </div>
</section>
<!-- delete modal end here -->