<section class="white-bg rounded lg-dialog-container d-flex flex-column">
    <header class="dark-text font-semibold font-lg px-3 pt-3">
      Survey dates are conflicting. Please choose another date range.
    </header>
    <footer class="d-flex justify-content-end mb-0 p-3">
      <button type="button" class="btn secondary-light-btn rounded-pill mr-2 btn-sm text-uppercase" title="Cancel" (click)="onClickCancel()">Cancel</button>
      <button type="button" class="btn btn-secondary rounded-pill btn-sm text-uppercase" title="Send" (click)="onClickSubmit()">Submit</button>
    </footer>
  </section>