<!-- widget section start here -->
<section class="rounded white-bg shadow-sm d-flex flex-column flex-grow-1"
    [ngClass]="isSparkViewable? 'comment-widgets-box' : 'widgets-box'">
    <div class="d-flex flex-nowrap justify-content-between p-3">
        <div class="dark-text font-semibold font-md">
            Team Member Guidance
        </div>
        <div class="d-flex align-items-center xs-d-none">
            <trigger-tooltip [pageTitle]="62" [bulbTootlip]="bulbTootlip"></trigger-tooltip>
        </div>
    </div>
    <section class="flex-grow-1 overflow-auto px-3 mb-2">
        <div class="d-flex flex-column flex-wrap mb-2">
            <div class="d-flex align-items-center text-secondary">
                <span class="font-semibold">Summary:- </span>
                <span class="dark-text ml-1">{{ scoreSummary }}</span>
            </div>
            <div class="d-flex align-items-center text-secondary mt-2">
                <span class="font-semibold"> Date:- </span>
                <span class="dark-text ml-1">{{lastAssessedDate}}</span>
            </div>
        </div>
        <div>
            {{ employeeRemarks }}
        </div>
    </section>
</section>
<!-- widget graph section end here -->