<!-- no records module start here -->
<section class=" d-flex justify-content-center align-items-center h-100 flex-column w-100">
    <section class=" rounded d-flex justify-content-center align-items-center h-100 flex-column p-3 white-bg w-100 mb-3">
        <div class="mb-3">
            <img src="/assets/images/trigger-sign-in-logo.png" title="trigger" alt="trigger">
        </div>
        <div class="dark-text font-semibold font-xl">No records found</div>
    </section>
</section>
<!-- no records module end here -->